ul.list-unstyled
  li.pull-right
    a(href="#top") Naar boven
  li 
    a(href="/") Home
  li
    a(href="/duits-nederlands/vakgebied/") Vakgebieden
  li
    a(href="/woordenboeken") Woordenboeken
  li 
    a(href="/duits-nederlands/") Pagina's
  li 
    a(href="/colofon") Colofon
  
p Met  
  span.glyphicon.glyphicon-heart
  |  gemaakt in Utrecht door 
  a(href="http://www.vangilst.de/") Van Gilst Übersetzungen
  | .
p De broncode van deze website is beschikbaar op 
  a(href="https://github.com/vnglst/") GitHub 
  | en valt onder de MIT-licentie.
