p Zoekresultaten voor: {{keyword}}
.panel.panel-default(ng-repeat='result in searchResults.terms')
  .panel-heading
    ul.pager
      li(ng-repeat='sf in result.subjectFields')
        a(href='{{sf.termUrl}}') {{sf.termStr}}
  .panel-body

      div(ng-repeat='word in result.de | orderBy: "termStr.length"')
        | {{word.lang | uppercase }}: {{word.termStr}} <br/>
      
      blockquote
        div(ng-repeat='word in result.nl | orderBy: "termStr.length"')
          | {{word.lang | uppercase }}: {{word.termStr}} <br/>

  .panel-footer
    | Details voor 
    a(href='/duits-nederlands/{{result.id}}') {{result.id}}
    | .  
