p Zoekresultaten voor: {{keyword}}
.panel.panel-default(ng-repeat='result in searchResults.terms')
  .panel-body
    dl.dl-horizontal
      dt Domein(en)
      dd
        ul.list-unstyled
          li(ng-repeat='sf in result.subjectFields')
            a(href='/duits-nederlands/vakgebied/{{sf.termUrl}}') {{sf.termStr}}
      dt(ng-repeat='word in result.de | orderBy: "termStr.length"')
        | {{word.lang | uppercase }}
      dd
        ul.list-unstyled
          li(ng-repeat='word in result.de | orderBy: "termStr.length"')
            | {{word.termStr}}
    
      dt(ng-repeat='word in result.nl | orderBy: "termStr.length"')
        | {{word.lang | uppercase }}
      dd
        ul.list-unstyled
          li(ng-repeat='word in result.nl | orderBy: "termStr.length"')
            | {{word.termStr}}
      
      dt ID-code
      dd
        a(href='/duits-nederlands/id/{{result.id}}') {{result.id}}
