p(ng-show='searchResults.terms.length > 0') Resultaten zoekopdracht in volledige tekst voor: 
  span.highlighted {{keyword}}
p(ng-show='searchResults.terms.length === 0') Geen resultaten voor de zoekopdracht in volledige tekst voor: {{keyword}}

table.table.table-hover(ng-show='searchResults.terms.length > 0')
  thead
    tr
      th Duits
      th Nederlands
  tbody
    tr(ng-repeat='result in searchResults.terms' ng-click='go("/duits-nederlands/id/"+result.id)')
      td
        ul.termsList
          li(ng-repeat ='word in result.de', ng-bind-html='word.termStr | highlight:keyword')
      td
        ul.termsList
          li(ng-repeat ='word in result.nl', ng-bind-html='word.termStr | highlight:keyword')
