extends layout

block title
  title Vakgebieden online woordenboek Duits-Nederlands
  meta(name='description', content='')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/duits-nederlands") Duits-Nederlands
    li.active
      | Vakgebieden

block results

  h1 Vakgebieden in het woordenboek Duits Nederlands                        
  p De volgende lijst met (voorlopig nog Engelstalige) vakgebieden is afkomstig van de site van IATE. Een Nederlandse vertaling van deze vakgebieden volgt snel.
  br

  - alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split('')
  each letter in alphabet
    .panel.panel-default
      .panel-heading
        .panel-title
          .letter #{letter}                        
      .panel-body
        ul
          - var tempArray
          - tempArray = subjectFields.filter( function (str) { return (str.toUpperCase())[0] === letter } )
          each subjectField in tempArray
            li: a(href='/duits-nederlands/vakgebied/'+subjectField.split(' ').join('_') ) #{subjectField}
                
