extends layout

block title
  title Colofon
  meta(name='description', content='')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li.active
      | Colofon

block results

  h1 Colofon                        

  h2 Deze website is ontwikkeld door: <br />

  p Koen van Gilst <br />
    | Stieltjesstraat 76 <br />
    | 3514JD Utrecht <br />
    | Nederland <br />      
  p
    b Tel:  
    | +31 30 711 6930 <br />
    b E-mail: 
    | nl@vangilst.de <br />
    b Btw-nummer: 
    | NL 189376004 B02 <br />
  
  p Voor deze website is gebruikgemaakt van de terminologische databank van IATE.
  
  h2 Externe links:
  p Ondanks regelmatige en nauwkeurige controle, kunnen wij geen aansprakelijkheid aanvaarden voor de inhoud van directe of indirecte externe links. Voor de inhoud van deze sites zijn uitsluitend de desbetreffende beheerders verantwoordelijk.
