extends layout

block title
  title Duits-Nederlandse vertalingen
  meta(name='description', content='')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/duits-nederlands") Duits-Nederlands
    li.active
      | Pagina #{requestedPageNr}

block results
  h1 Pagina #{requestedPageNr} met honderd Duitse termen                       
  p In de terminologische databank van de EU (IATE) zijn de volgende Duitse termen met een Nederlandse vertaling gevonden. Klik op de Duitse term om naar de Nederlandse vertaling te gaan.
  
  ul.pager
    li.previous
      a(href="../pagina/" + (requestedPageNr - 1))← Vorige pagina
    li.next
      a(href="../pagina/" + (requestedPageNr + 1)) Volgende pagina →
    
  include ./includes/de-nl-in-panels.jade
