extends layout

block title
  title Term niet gevonden!

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li.active
      | Zoekresulaten voor #{searchTerm}
  
block results
  .panel.panel-default
    .panel-heading
      .panel-title
        | Voor #{searchTerm} zijn 10 resultaten gevonden!                       
    .panel-body
      ol.dictionaryList     
        each dictEntry in dictEntries
          li
            i
              a(href='/duits-nederlands/'+'') Anlage
