extends layout

block title
  title Term niet gevonden!

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li.active
      | Niet gevonden
  
block results
  .panel.panel-default
    .panel-heading
      .panel-title
        | "#{germanStr}" niet gevonden!                       
    .panel-body
      p Het door u gezochte woord "#{germanStr}" is niet gevonden.                  
