extends layout

block title
  title Nederlands Duitse terminologie
  meta(name='description', content='Zoekmachine voor de database met daarin de officiële terminologielijst van de EU.')

block results
  .emptyResults


            
