extends html

block body
    .container
        .headerLP
          .logoLP
            a(href="/")
              img.logoImageLP(src='/img/logo-vangilst.png' alt='Van Gilst Übersetzungen')
          .inputLP
            form(action='/search' method='post')
              .input-group
                input.form-control(type='search' id='query' value=searchTerm || '' name='q' placeholder=germanStr || '', style='overflow: hidden; text-overflow: ellipsis; white-space: nowrap')
                span.input-group-btn
                  button.btn.btn-primary(type='submit')
                    span.glyphicon.glyphicon-search(aria-hidden='true')
        footer
          .footerLP
            include ./includes/made-with-love.jade

    include ./includes/analytics.jade
      
