extends layout

block title
  title Online woordenboek Duits-Nederlands

block results
  .panel.panel-default
    .panel-heading
      .panel-title
        | Online woordenboek Duits Nederlands                        
    .panel-body
      | Gebaseerd op de officiële terminologielijst van de Europese Commissie (IATE).
      | De zoekfunctie is momenteel nog niet online, maar daar wordt hard aan gewerkt.
      | In de tussentijd kunt u hier alvast een kijkje nemen:
        
      p
      p Voorbeelden van vakgebieden
      ul
        li
          a(href="/duits-nederlands/vakgebied/Working_conditions") Arbeidsomstandigheden 
        li
          a(href="/duits-nederlands/vakgebied/Space_transport") Ruimtevervoer
        li
          a(href="/duits-nederlands/vakgebied/Justice") Recht 
          
      p Voorbeelden van woorden
      ul  
        li
          a(href="/duits-nederlands/ROPS") ROPS
        li
          a(href="/duits-nederlands/Bürogroßraum") Bürogroßraum
        li
          a(href="/duits-nederlands/Expositionsbiomarker") Expositionsbiomarker
      p Lijsten:
      ul
        li
          a(href="/duits-nederlands/vakgebied/") Alle vakgebieden
        li
          a(href="/duits-nederlands/") Lijst met 1000 Duitse woorden
      p
      p Op dit moment bevat de database 514.000 ingangen voor Nederlands.
          


            
