extends layout

block title
  title Nederlands Duitse terminologie

block results
  h1 Nederlands Duitse terminologie                        
  p Gebaseerd op de officiële terminologielijst van de Europese Commissie (IATE). De zoekfunctie is momenteel nog in de testfase.
      
  h2 Huidige woordenlijsten in de database
  ul
    li
      a(href="http://iate.europa.eu/") IATE 
      | (= “Inter-Active Terminology for Europe” de terminologische databank van de EU, samengesteld door de verzamelde instituties van de Europese Unie) 
      a(href="http://iate.europa.eu/tbxPageDownload.do") (Download)
      
  h2 Toekomstige Duits-Nederlandse lexica
  ul  
    li
      a(href="http://www.microsoft.com/Language/en-US/Default.aspx") Microsoft Terminology Collection 
      | (ca. 12.000 ingangen voor NL-EN en DE-EN, incl. Engelse definities) 
      a(href="http://www.microsoft.com/Language/en-US/Terminology.aspx") (Download) 
    li
      a(href="http://www.mumm.ac.be/~serge/birds/search_en.html") Vogelnamen 
      | (ca. 800 ingangen voor NL-EN-DE)

  h2 Websites met verzamelingen van woordenlijsten
  ul  
    li
      a(href="http://termcoord.eu/glossarylinks/") Termcoord 
      | (met 74 verwijzingen voor Duits & Nederlands)
    li
      a(href="http://wordbook.nl/") wordbook.nl 
      | (hoofdzakelijk Engels & Nederlands, maar ook een aantal Duits-Nederlandse verwijzingen)
            
  h2 Links voor Google:
  ul
    li
      a(href="/duits-nederlands/vakgebied/") Alle vakgebieden
    li
      a(href="/duits-nederlands/") Lijst met 1000 Duitse woorden
  p
  p Op dit moment bevat de database 514.000 ingangen voor Nederlands.
      


            
