extends html

block body
  body
    .container
        #root
          p Rendering...
        footer.row
          .col-xs-12.col-sm-10.col-md-8.col-lg-7
            include ./includes/footertext.jade      
    
    include ./includes/analytics.jade      
