extends layout

block title
  title Duits-Nederlandse vertalingen
  meta(name='description', content='')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li.active
      | Duits-Nederlands

block results             
  p In de terminologische databank van de EU (IATE) zijn #{totalPages} pagina's van elk 100 Duitse termen met een Nederlandse vertaling gevonden. Klik op de Duitse term om naar de Nederlandse vertaling te gaan.
