extends layout

block title
  title Duits-Nederlandse vertalingen
  meta(name='description', content='')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li
      a(href="/duits-nederlands") Duits-Nederlands
    li.active
      | Pagina #{requestedPage}

block results
  h1 Pagina #{requestedPage} met honderd Duitse termen                       
  p In de terminologische databank van de EU (IATE) zijn de volgende Duitse termen met een Nederlandse vertaling gevonden. Klik op de Duitse term om naar de Nederlandse vertaling te gaan.
  
  ul.pager
    li.previous
      a(href="../pagina/" + (requestedPage - 1))← Vorige pagina
    li.next
      a(href="../pagina/" + (requestedPage + 1)) Volgende pagina →
    
  - alphabet = " 1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ".split('')
  each letter in alphabet
    - var loopArray
    - loopArray = dictEntries.filter( function (dictEntry) { return dictEntry.de[0].toUpperCase() === letter })
    if (loopArray.length > 0)
      .panel.panel-default
        .panel-heading
          h1.panel-title
              | #{letter}                        
        .panel-body
            ul
              each dictEntry in loopArray
                li
                  a(href='/duits-nederlands/' + dictEntry.deUrl) 
                  | #{dictEntry.de}
