extends layout

block title
  title Links naar Duitse-Nederlandse woordenboeken
  meta(name='description', content='Overzicht van woordenboeken Duits-Nederlands op andere plekken.')

block breadcrumbs
  ul.breadcrumb
    li
      a(href="/") Home
    li.active
      |  Woordenboeken

block results

  h1 Woordenboeken
  
  :markdown
    ## Huidige woordenboeken in de database
    - [IATE](http://iate.europa.eu/) (= “Inter-Active Terminology for Europe” de terminologische databank van de EU, samengesteld door de verzamelde instituties van de Europese Unie) [(Download)](http://iate.europa.eu/tbxPageDownload.do)
      
    ## Vrij toegankelijke Duits-Nederlandse woordenboeken
    - [Microsoft Terminology Collection](http://www.microsoft.com/Language/en-US/Default.aspx) (ca. 12.000 ingangen voor NL-EN en DE-EN, incl. Engelse definities) [(Download)](http://www.microsoft.com/Language/en-US/Terminology.aspx)
    - [Vogelnamen](http://www.mumm.ac.be/~serge/birds/search_en.html) (ca. 800 ingangen voor NL-EN-DE)
    - [Woordenboek Freie Universität Berlin](http://neon.niederlandistik.fu-berlin.de/de/woordenboek/?s=a) (algemeen woordenboek Duits-Nederlands)
    - [infos-fuer-alle.de](http://infos-fuer-alle.de/niederlaendisch/index.html) (algemeen woordenboek(je), voor educatieve doeleinden)
    - [EuroVoc glossary](https://alexandria-translation-resources.com/resources-for-translation-providers/glossaries/eurovoc-glossaries/into-dutch/) (EU terminologie, download als Excel of .tbx)
    - [ISACA Glossary of Terms Translations](http://www.isaca.org/Pages/ISACA-Glossary-of-Terms-Translations.aspx) (60 PDF-pagina's, DE-EN-NL met Engels als brontaal)
    - [Let’s speak sustainable construction Multilingual Glossary](http://www.eesc.europa.eu/resources/docs/glossary_en_fr_de_nl_final--12.pdf) (duurzaam bouwen, EN-FR-DE-NL)
    - [ISI - INTERNATIONAL STATISTICAL INSTITUTE](http://isi.cbs.nl/glossary/bloknl00.htm) (lexicon met statistische terminologie, meertalig met o.a. NL-EN-DE)
    - [Road Dictionary](http://www.piarc.org/en/Terminology-Dictionaries-Road-Transport-Roads/term-search/) (15.000 ingangen, logistiek/wegtransport)
    - [TESE - The thesaurus for education systems in Europe - 2009 edition](http://eacea.ec.europa.eu/education/eurydice/tese_en.php) (meertalig onderwijslexicon, met o.a. de talen DE-EN-NL. Beschikbaar als csv-download)
    - [Tree Translator](http://www.woodworking.co.uk/Technical/Trees/trees.html) (meertalige lijst met houtsoorten)
    
    ## Duits-Nederlandse woordenboeken (niet gratis)
    - Groot Polytechnisch Woordenboek onder redactie van Graham P. Oxtoby. Wordt niet meer gedrukt, de opvolger hiervan (Groot Woordenboek Industrie en Techniek) is in de maak, maar loopt door omstandigheden vertraging op. Verschijningsdatum is onbekend. De Engelse opvolger van het Groot Polytechnisch Woordenboek is [wel verschenen bij Translex](http://www.translex.co.uk/GWIT.html)
    - Ernst-woordenboeken DE-EN van [Acolada GmbH](http://www.acolada.de).
    - [RailLexic 4.0](http://www.acolada.de/xist4c/web/UIC-RailLexic-4-0_id_3183__dId_22650_.htm) (Meertalig lexicon met tussen de 15.000 en 20.000 termen op het gebied van railindustrie. Van de internationale spoorwegorganisatie UIC). Ook als abonnement of programma.
    - [ntersentia: Le Docte](http://www.acolada.de/xist4c/web/Intersentia-Le-Docte-Download_id_3183__dId_27430_.htm;jsessionid=221880FF86D9BA5B3BDFC530D3D62F01) (meertalig juridisch woordenboek, NL-FR-DE-EN)

    ## Websites met verzamelingen van woordenlijsten
    - [Termcoord](http://termcoord.eu/glossarylinks/) (met 74 verwijzingen voor Duits & Nederlands)
    - [beijer.uk](http://beijer.uk/WORDBOOK.html) (hoofdzakelijk Engels & Nederlands, maar ook een aantal Duits-Nederlandse verwijzingen. Door Michael Beijer.)
    - [The Alexandria Library](https://alexandria-translation-resources.com/resources-for-translation-providers/glossaries/) (Glossaries Download center)
